[submodule "Dependencies/nvrhi"]
	path = Dependencies/nvrhi
	url = https://github.com/NVIDIAGameWorks/nvrhi
[submodule "Dependencies/HedgeLib"]
	path = Dependencies/HedgeLib
	url = https://github.com/Radfordhound/HedgeLib
[submodule "Dependencies/Amicitia.IO"]
	path = Dependencies/Amicitia.IO
	url = https://github.com/tge-was-taken/Amicitia.IO
