[submodule "Dependencies/BlueBlur"]
	path = Dependencies/BlueBlur
	url = https://github.com/blueskythlikesclouds/BlueBlur.git
[submodule "Dependencies/D3D12MemoryAllocator"]
	path = Dependencies/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator.git
[submodule "Dependencies/unordered_dense"]
	path = Dependencies/unordered_dense
	url = https://github.com/martinus/unordered_dense.git
[submodule "Dependencies/xxHash"]
	path = Dependencies/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "Dependencies/Amicitia.IO"]
	path = Dependencies/Amicitia.IO
	url = https://github.com/tge-was-taken/Amicitia.IO.git
[submodule "Dependencies/DLSS"]
	path = Dependencies/DLSS
	url = https://github.com/NVIDIA/DLSS.git
[submodule "Dependencies/self-intersection-avoidance"]
	path = Dependencies/self-intersection-avoidance
	url = https://github.com/NVIDIA/self-intersection-avoidance.git
[submodule "Dependencies/lz4"]
	path = Dependencies/lz4
	url = https://github.com/lz4/lz4.git
